{% unless block.settings.icon == 'none' %}
  <span class="product-benefit__icon flex items-center justify-center">
    {% render 'icon-misc', icon: block.settings.icon %}
  </span>
{% endunless %}

{% unless block.settings.text == empty %}
  <p class="rte">{{ block.settings.text }}</p>
{% endunless %}

{% stylesheet %}
  .product-benefit__icon {
    background-color: var(--color-border);
    border-radius: 100%;
    padding-block: var(--spacing-4);
    padding-inline: var(--spacing-4);

    .icon {
      --size: 18px;
      color: var(--color-text-light);
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:blocks._product-benefit.name",
  "class": "product-benefit flex flex-gap-small items-center",
  "settings": [
    {
      "type": "select",
      "id": "icon",
      "label": "t:blocks._product-benefit.settings.icon.label",
      "options": [
        {
          "value": "none",
          "label": "t:presets.settings.icon.options.none.label"
        },
        {
          "value": "discount",
          "label": "t:presets.settings.icon.options.discount.label"
        },
        {
          "value": "check",
          "label": "t:presets.settings.icon.options.check.label"
        },
        {
          "value": "bag",
          "label": "t:presets.settings.icon.options.bag.label"
        },
        {
          "value": "profile",
          "label": "t:presets.settings.icon.options.profile.label"
        }
      ]
    },
    {
      "type": "inline_richtext",
      "id": "text",
      "label": "t:presets.settings.text.label",
      "default": "Example product benefit content"
    }
  ]
}
{% endschema %}
