<div class="collection-hero__container">
  {% unless section.settings.layout == 'no_image' %}
    {% if collection.image %}
      {% render 'image',
        image: collection.image,
        width: 1248,
        class: 'collection-hero__image image-cover',
        size: '90vw',
        large_size: '624px',
        widths: '352, 760, 1200, 1248'
      %}
    {% endif %}
  {% endunless %}

  <div class="collection-hero__body">
    <div class="container">
      <div class="flex flex-wrap flex-gap-small text-meta">{{ 'breadcrumb.home' | t }} — {{ collection.title }}</div>

      {% content_for 'block', type: 'heading', id: 'heading', margin: true %}
      {% content_for 'block', type: 'rich-text', id: 'description' %}
    </div>
  </div>
</div>

{% unless section.blocks.size == 0 %}
  <div class="container">
    <div class="collection-hero__blocks list-reset flex flex-gap-medium hide-scrollbar">
      {% content_for 'blocks' %}
    </div>
  </div>
{% endunless %}

{% stylesheet %}
  .collection-hero__body {
    padding-block: var(--spacing-24);
  }

  .collection-hero__image {
    aspect-ratio: 2 / 1;
  }

  .collection-hero__blocks {
    margin-block: var(--spacing-24) var(--spacing-48);
    margin-inline: calc(var(--container-gutter) * -1);
    padding-inline: var(--container-gutter);
    overflow: auto;

    .collection-block {
      flex-shrink: 0;
    }
  }

  @media (min-width: 1024px) {
    .collection-hero__container {
      align-items: end;
      display: grid;
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    }

    .collection-hero__body {
      grid-column: 1;
      grid-row: 1;
      padding-block-start: var(--spacing-48);
    }

    .collection-hero__image {
      grid-column: 2;
      grid-row: 1;
    }

    .collection-hero__blocks {
      margin-block: var(--spacing-32) var(--spacing-48);

      .collection-block {
        flex-shrink: 1;
      }
    }
  }
{% endstylesheet %}

{% style %}
  {% if section.settings.layout == 'background' and collection.image %}
    .collection-hero__container {
      overflow: hidden;
      position: relative;
      z-index: 0;
    }

    .collection-hero__container::before {
      background-color: var(--color-backdrop);
      content: '';
      display: block;
      height: 100%;
      inset: 0;
      position: absolute;
      width: 100%;
      z-index: -1;
    }

    .collection-hero__body {
      color: var(--color-background);
      padding-block: var(--spacing-48);

      .text-meta {
        color: var(--color-background);
        opacity: 0.75;
      }
    }

    .collection-hero__image {
      aspect-ratio: auto;
      height: 100%;
      inset: 0;
      grid-column: unset;
      grid-row: unset;
      position: absolute;
      width: 100%;
      z-index: -2;
    }

    @media (min-width: 1024px) {
      .collection-hero__body {
        padding-block: var(--spacing-64);
      }
    }
  {% endif %}
{% endstyle %}

{% schema %}
{
  "class": "collection-hero",
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "label": "t:sections.collection-hero.settings.layout.label",
      "options": [
        {
          "value": "default",
          "label": "t:sections.collection-hero.settings.layout.options.default.label"
        },
        {
          "value": "background",
          "label": "t:sections.collection-hero.settings.layout.options.background.label"
        },
        {
          "value": "no_image",
          "label": "t:sections.collection-hero.settings.layout.options.no_image.label"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "_collection-block"
    }
  ]
}
{% endschema %}
