{% content_for 'blocks' %}

{% stylesheet %}
  @media (min-width: 1024px) {
    .hero-banner {
      display: flex;
      flex-wrap: wrap;

      .hero-banner-block {
        flex: 1 1 50%;
      }
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:sections.hero-banner.name",
  "class": "hero-banner",
  "blocks": [
    {
      "type": "_hero-banner-block"
    }
  ],
  "presets": [
    {
      "name": "t:sections.hero-banner.name",
      "blocks": [
        {
          "type": "_hero-banner-block",
          "settings": {
            "content_position": "middle_center"
          },
          "blocks": [
            {
              "type": "heading",
              "settings": {
                "heading_style": "h1"
              }
            },
            {
              "type": "rich-text",
              "settings": {
                "body": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>",
                "max_width": 80
              }
            },
            {
              "type": "button"
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
