/**
 * Typography.
 */

/**
 * Headings.
 */
:root {
  --heading-font: var(--font-heading);
  --heading-letter-spacing: initial;
  --heading-line-height: initial;

  /**
   * Mobile styles.
   */
  --h1-mobile-font-size: var(--font-size-48);
  --h2-mobile-font-size: var(--font-size-32);
  --h3-mobile-font-size: var(--font-size-28);
  --h4-mobile-font-size: var(--font-size-24);
  --h5-mobile-font-size: var(--font-size-20);
  --h6-mobile-font-size: var(--font-size-16);

  /**
   * Desktop styles.
   */
  --h2-desktop-font-size: var(--font-size-42);
  --h1-desktop-font-size: var(--font-size-60);
  --h3-desktop-font-size: var(--font-size-36);
  --h4-desktop-font-size: var(--font-size-32);
  --h5-desktop-font-size: var(--font-size-28);
  --h6-desktop-font-size: var(--font-size-20);
}

body,
.text-body,
.text-body-small {
  -webkit-font-smoothing: antialiased;
  color: var(--color-text);
  font-family: var(--font-body);
  font-size: var(--font-size-14);
  font-weight: var(--body-weight);
  line-height: 1.5;
  text-rendering: optimizespeed;
}

.text-body-small {
  font-size: var(--font-size-12);
}

.text-body-large {
  font-size: var(--font-size-20);
}

h1,
h2,
h3,
h4,
h5,
h6,
[class*='text-h'] {
  font-family: var(--heading-font);
  font-weight: var(--heading-weight);
  letter-spacing: var(--heading-letter-spacing);
  line-height: var(--heading-line-height);
  margin-block: 0;
}

h1,
.text-h1,
.text-h1-mobile {
  font-size: var(--h1-mobile-font-size);
}

.text-h1-desktop {
  font-size: var(--h1-desktop-font-size);
}

h2,
.text-h2,
.text-h2-mobile {
  font-size: var(--h2-mobile-font-size);
}

.text-h2-desktop {
  font-size: var(--h2-desktop-font-size);
}

h3,
.text-h3,
.text-h3-mobile {
  font-size: var(--h3-mobile-font-size);
}

.text-h3-desktop {
  font-size: var(--h3-desktop-font-size);
}

h4,
.text-h4,
.text-h4-mobile {
  font-size: var(--h4-mobile-font-size);
}

.text-h4-desktop {
  font-size: var(--h4-desktop-font-size);
}

h5,
.text-h5,
.text-h5-mobile {
  font-size: var(--h5-mobile-font-size);
}

.text-h5-desktop {
  font-size: var(--h5-desktop-font-size);
}

h6,
.text-h6,
.text-h6-mobile {
  font-size: var(--h6-mobile-font-size);
}

.text-h6-desktop {
  font-size: var(--h6-desktop-font-size);
}

/**
 * Base elements.
 */
a {
  color: inherit;
  text-decoration: none;
}

address + .text-link {
  display: block;
  margin-block-start: var(--spacing-12);
}

address {
  font-style: normal;
}

table th,
.text-th {
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-medium);
}

@media (min-width: 1024px) {
  table th,
  .text-th {
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-medium);
  }
}

/**
 * Utilities.
 */
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-weight-regular {
  font-weight: var(--font-weight-regular);
}

.text-weight-bold {
  font-weight: var(--font-weight-bold);
}

.text-weight-medium {
  font-weight: var(--font-weight-medium);
}

/**
 * Rich text.
 */
.rte p:not(:last-child, .no-margin),
p.margin {
  margin-block-end: var(--spacing-24);
}

.rte :is(h1, .text-h1, h2, .text-h2, h3, .text-h3, h4, .text-h4, h5, .text-h5, h6, .text-h6):not(:last-child),
:is(h1, .text-h1, h2, .text-h2, h3, .text-h3, h4, .text-h4, h5, .text-h5, h6, .text-h6).margin:not(:last-child) {
  margin-block-end: var(--spacing-12);
}

.rte ul,
.rte ol {
  margin-block: var(--spacing-24);
  padding-inline-start: var(--spacing-24);
}

.rte p:empty {
  display: none;
}

/**
 * Custom text styles.
 */
.text-meta {
  color: var(--color-text-light);
  font-size: var(--font-size-12);
}

.text-small {
  font-size: var(--font-size-12);
}

.text-link,
.rte a:not(.button) {
  cursor: pointer;
  text-decoration: underline;
}

.text-error {
  color: var(--color-error);
}

.text-success {
  color: var(--color-success);
}

label,
.label {
  color: var(--color-text-light);
  display: block;
  font-size: var(--font-size-12);
  font-weight: var(--font-weight-medium);
  margin-block-end: var(--spacing-8);
}

.value {
  font-size: var(--font-size-12);
}

/**
 * Large.
 */
@media (min-width: 1024px) {
  [class*='lg\:text-h'] {
    font-family: var(--heading-font);
    font-weight: var(--heading-weight);
    letter-spacing: var(--heading-letter-spacing);
    line-height: var(--heading-line-height);
  }

  /**
   * Base heading styles.
   */
  h1,
  .text-h1 {
    font-size: var(--h1-desktop-font-size);
  }

  h2,
  .text-h2 {
    font-size: var(--h2-desktop-font-size);
  }

  h3,
  .text-h3 {
    font-size: var(--h3-desktop-font-size);
  }

  h4,
  .text-h4 {
    font-size: var(--h4-desktop-font-size);
  }

  h5,
  .text-h5 {
    font-size: var(--h5-desktop-font-size);
  }

  h6,
  .text-h6 {
    font-size: var(--h6-desktop-font-size);
  }

  .lg\:text-h1-mobile {
    font-size: var(--h1-mobile-font-size);
  }

  .lg\:text-h2-mobile {
    font-size: var(--h2-mobile-font-size);
  }

  .lg\:text-h3-mobile {
    font-size: var(--h3-mobile-font-size);
  }

  .lg\:text-h4-mobile {
    font-size: var(--h4-mobile-font-size);
  }

  .lg\:text-h5-mobile {
    font-size: var(--h5-mobile-font-size);
  }

  .lg\:text-h6-mobile {
    font-size: var(--h6-mobile-font-size);
  }

  .lg\:text-h1-desktop {
    font-size: var(--h1-desktop-font-size);
  }

  .lg\:text-h2-desktop {
    font-size: var(--h2-desktop-font-size);
  }

  .lg\:text-h3-desktop {
    font-size: var(--h3-desktop-font-size);
  }

  .lg\:text-h4-desktop {
    font-size: var(--h4-desktop-font-size);
  }

  .lg\:text-h5-desktop {
    font-size: var(--h5-desktop-font-size);
  }

  .lg\:text-h6-desktop {
    font-size: var(--h6-desktop-font-size);
  }
}
